/* Responsive Styles for tablets and mobile devices */
@media (max-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    nav {
        width: 70%;
    }

    .options {
        flex-direction: column;
        align-items: center;
    }

    .options button {
        width: 90%;
        margin-bottom: 10px;
    }

    .info-container {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        padding: 10px;
    }

    nav {
        justify-content: flex-start;
        width: 100%; /* Full width for small screens */
    }

    .options button {
        width: 100%; /* Full width buttons */
        margin-bottom: 15px;
    }

    .info-container {
        padding: 10px;
    }
}
